.card{
    width: 95%;
    padding: 0 calc((100% - 818px) / 2) !important;

    
    svg{
        margin: 0;
    }
}

//  .p-editor-container .p-editor-toolbar{
//     color: black;
//     background: white;
//     button svg{
//         color:black;
//     }
// }

// .ql-header.ql-picker ,.ql-picker-label{
//     color:green;
//     svg{
//         color: red;
//     }
// }

// .ql-editor.ql-blank, .p-editor-content, .ql-container, .ql-snow{
//     background: white;
// }

// span.ql-picker-label{
//     color:black;
// }

// .p-editor-container.p-editor-toolbar.ql-snow.ql-picker.ql-expanded.ql-picker-label{
//     color:black;
// }
