.stillNoOffers{
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;

}

.AddBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    
    button{
        border-radius: 0;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 4px;
        
    }

    a{
    color: rgb(125, 125, 125);
    cursor: pointer;
    display: inherit;
    padding: 0px 3px;
    font-size: 13px;
    white-space: inherit;
    text-decoration: underline;
    }
}