#WordsAboutYou{
    height: 30px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-top: 4;
    padding-right: 4;
    margin-top: 0;

   
}
.WordsAboutYou{
    label,svg{
        margin: 5px !important;        
    }

    input{
        margin-bottom: 12px !important;
    }
}