.MoreProjects{
    h1{
        direction: rtl;
        padding: 0px 16px;
        color: rgb(66, 66, 66);
        margin: 56px 0px 32px;
        line-height: 32px;
        font-size: 24px;
        font-weight: bold;
    }

    .cards{
        direction: rtl;
    }
}

